<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head-fragment :: head-partial(${post.getTitle()})"></head>
<body>
<div th:replace="fragments/navbar-fragment :: navbar-partial"></div>
<div class="row">
    <div class="col s8 offset-s2">
        <h1 th:text="${post.getTitle()}"></h1>
        <p th:text="${post.getBody()}"></p>
        <a th:href="@{/posts/{postId}/edit(postId=${post.getId()})}" class="waves-effect waves-light btn">Edit</a>
        <a th:href="@{/posts/{postId}/delete(postId=${post.getId()})}" class="waves-effect waves-light btn">Remove</a>
    </div>
</div>
<div th:replace="fragments/footer-fragment :: footer-partial"></div>
<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>